@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;700&family=Sen:wght@400;700&display=swap");

body {
  font-family: "Figtree", sans-serif;
}
h1,
h2,
h3,
h4 {
  font-family: "Sen", sans-serif;
  font-weight: 700;
}
p {
  font-weight: 300;
  @apply text-gray-600;
  &.font-bold {
    font-weight: 700;
    @apply text-gray-800;
  }
}
